section{
    background-color: #212126;
}
.color-card {
    background-color: #232327;
}
a{
    color: #891cff;
    text-decoration: none;
}
label{
    color: #322d3a;
}
.txt-signup{
    font-size: 15px;
    color: #322d3a;
}
.btn-principal{
  background: linear-gradient(90deg, #5170FF 0%, #FF66C4 100%);
  border: none;
  border-radius: 20px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.btn-principal:hover {
  box-shadow: 0 0px 15px #ddcbff;
  transform: scale(1.02);
  color: white;
}

.input{
  background-color: #64647F;
  border: none;
  color:#A8A8B7;
}

.input::placeholder{
  color:#A8A8B7;
}

