<!-- registrarse -->
 <section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-12 col-lg-10 col-xl-8">
                <div class="card color-card" style="border-radius: 1rem; height: 500px; border: none">
                    <div class="row g-0 h-100">
                        <div class="col-md-5 d-none d-md-block">
                            <img src="/wall-env.jpg" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem; height: 100%; object-fit: cover;" />
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="card-body p-4 text-black">
                              <div class="d-flex align-items-center mb-2">
                                  <span class="h2 mb-0" style="color: #1c1b1f;">Crea una cuenta</span>
                              </div>

                              <p class="fw-normal mb-3 mt-1" id="txt-signup">¿Ya tienes una cuenta? <a [routerLink]="['/sign-in']" href="">Inicia sesión</a></p>
                                <form [formGroup]="formGroup" (ngSubmit)="OnSubmit()">

                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <label class="form-label small" for="" style="margin-bottom: 0;">Correo electrónico</label>
                                            <input type="email" id="correo" name="correo" formControlName="correo" class="form-control form-control-sm" placeholder="correo@dominio.com"/>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label class="form-label small" for="" style="margin-bottom: 0;">Username</label>
                                            <input type="text" id="username" name="username" formControlName="username" class="form-control form-control-sm" placeholder="Ingresa un username"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <label class="form-label small" for="" style="margin-bottom: 0;">Nombre completo</label>
                                            <input type="text" id="nombre" name="nombre" formControlName="nombre" class="form-control form-control-sm" placeholder="Nombre completo"/>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label class="form-label small" for="" style="margin-bottom: 0;">Fecha de nacimiento</label>
                                            <input type="date" id="fechaNac" name="fechaNac" formControlName="fechaNac" class="form-control form-control-sm" style="color: #595c5f;" onfocus="this.style.color='black'" onchange="this.style.color='black'"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <label class="form-label small" for="" style="margin-bottom: 0;">Contraseña</label>
                                            <input type="password" id="contrasenna" name="contrasenna" formControlName="contrasenna" class="form-control form-control-sm" placeholder="Contraseña segura"/>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <label class="form-label small" for="" style="margin-bottom: 0;">Confirmar contraseña</label>
                                            <input type="password" id="contrasennaDos" name="contrasennaDos" formControlName="contrasennaDos" class="form-control form-control-sm" placeholder="Confirma la contraseña"/>
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-3 mt-2">
                                        <button class="btn text-white btn-principal px-4" type="submit">Registrarme</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
