.btn-principal{
  background: linear-gradient(90deg, #5170FF 0%, #FF66C4 100%);
  border: none;
  /* border-radius: 5px; */
  /* padding: 10px 40px;
  font-size: 1.2rem;
  font-weight: 500; */
  transition: transform 0.2s, box-shadow 0.2s;
}
.btn-principal:hover {
  box-shadow: 0 0px 15px #471c9e;
  transform: scale(1.02);
  color: white;
}
nav, button{
    font-size: 14px;
}
/* a{
    font-size: 18px;
} */