.letra-morada{
    color: #891cff;
}
.letra-morada-claro{
    color: #a149ff;
}
#letra-verde{
    color: #02b7ae;
}
.letra-gris{
    color: #595c5f;
}
.btn-morado{
    background-color: #823fff;
    color: white;
    border-radius: 20px;
    /* font-size: 14px; */
}
.btn-verde-azul{
    background-color: #12e0d5;
    color: white;
    border-radius: 20px;
    /* font-size: 14px; */
}