.letra-morada{
    color: #891cff;
}
.letra-morada-claro{
    color: #a149ff;
}
#letra-verde{
    color: #02b7ae;
}
.letra-gris{
    color: #595c5f;
}
.btn-morado{
    background-color: #823fff;
    color: white;
    border-radius: 20px;
    /* font-size: 14px; */
}
.btn-verde-azul{
    background-color: #12e0d5;
    color: white;
    border-radius: 20px;
}

.card-body .card-text {
    white-space: normal !important; 
    overflow: visible !important;
    text-overflow: clip !important;
    max-width: 100% !important;
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 992px) {
    .card-body .card-text {
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        -webkit-line-clamp: 1;
        line-clamp: 2;
    }
}