<!-- Cambiar contraseña -->
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10 col-md-10 col-lg-8 col-xl-6">
                <div class="card color-card" style="border-radius: 1rem; height: 500px; border: none">
                    <div class="row g-0 h-100">
                        <div class="col-md-10 mx-auto d-flex align-items-center">
                            <div class="card-body p-4 text-black">
                                <form [formGroup]="formGroup" (ngSubmit)="OnSubmit()">
                                    <div class="col-md-10 d-flex align-items-center mb-4 mx-auto">
                                        <span class="h2 mb-0 mx-auto" style="color: #1c1b1f;">Cambiar contraseña</span>
                                    </div>

                                    <p class="fw-normal mb-4 mt-2 txt-signup">Ingrese una nueva contraseña fuerte.</p>

                                    <div class="mb-3">
                                        <label class="form-label small" for="" style="margin-bottom: 0;">Nueva contraseña</label>
                                        <input type="password" id="_contrasena" name="_contrasena" formControlName="_contrasena" class="form-control" placeholder="Contraseña"/>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label small" for="" style="margin-bottom: 0;">Confirmar contraseña</label>
                                        <input type="password" id="_contrasenaDos" name="_contrasenaDos" formControlName="_contrasenaDos" class="form-control" placeholder="Confirmar contraseña"/>
                                    </div>

                                    <div class="pt-1 mb-3 mt-3">
                                        <button class="btn text-white btn-principal px-4 py-2" type="submit">Confirmar</button>
                                    </div>
                                    <div *ngIf="errorContra" class="pt-1 mb-3 mt-3">
                                        <p class="text-danger">Las contraseñas no coinciden</p>
                                    </div>
                                    <div *ngIf="contraCambiada" class="pt-1 mb-3 mt-3">
                                        <p class="text-success">La contraseña se ha cambiado con exito</p>
                                        <button [routerLink]="['/catalogo']" class="btn text-white btn-principal px-4 py-2" type="button">Regresar</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
