<section class="p-5">
<div class="mb-1" id="" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" style="border-radius: 20px; border: none;">
      <div class="modal-body color-card" style="border-radius: 20px; padding: 35px 45px;">
        <div class="row">

          <div class="col-12 d-flex align-items-center mb-4">
              <div style="width: 90px; height: 90px; background-color: #d8c9ff; border-radius: 50%;"></div>

              <div class="ms-4">
                  <h4 class="fw-bold mb-1" style="color: #1c1b1f;">{{userCookie.Username}}</h4>
                  <p class="txt-signup mb-0" style="font-size: 15px; color: #6d6a72;">{{userCookie.Descripcion}}</p>
              </div>
          </div>

            <div class="col-12 mb-4">
                <hr style="border: 1px solid #e5d9ff; opacity: 1;">
            </div>

            <form [formGroup]="formGroup" (ngSubmit)="OnSubmit()">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <label class="fw-bold form-label label-small">Nombre</label>
                        <input id="_nombre" name="_nombre" formControlName="_nombre" class="form-control input-rounded mb-3" type="text" placeholder="Tu nombre">

                        <label class="fw-bold form-label label-small">Descripción</label>
                        <textarea id="_descripcion" name="_descripcion" formControlName="_descripcion" class="form-control input-rounded mb-3" rows="4" placeholder="Añade una descripción de tu perfil. Profesión, hobbies, etc..." ></textarea>
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="fw-bold form-label label-small">Username</label>
                        <input id="_username" name="_username" formControlName="_username" class="form-control input-rounded mb-3" type="text" placeholder="Nombre de usuario único">

                        <label class="fw-bold form-label label-small">Correo asociado</label>
                        <input id="_correo" name="_correo" formControlName="_correo" class="form-control input-rounded mb-3" type="email" placeholder="email de recuperación">

                        <label class="fw-bold form-label label-small">Teléfono</label>
                        <input id="_telefono" name="_telefono" formControlName="_telefono" class="form-control input-rounded mb-3" type="text" placeholder="+52 477 123 1234">
                    </div>
                    <div class="col-8">
                      <label class="fw-bold form-label label-small">Foto de perfil</label>
                      <input class="form-control bg-dark-subtle" type="file" name="_foto" id="_foto" formControlName="_foto">
                    </div>

                </div>

                <div class="text-start mt-3">
                    <button (click)="VolverPerfil()" class="btn btn-cancelar px-4 py-2" type="button">Cancelar</button>
                    <button class="btn text-white btn-principal px-4 py-2" type="submit" style="margin-left: 8px;">Guardar</button>
                </div>
            </form>

        </div>
      </div>
    </div>
  </div>
</div>
</section>
