<section class="vh-100 d-flex justify-content-center align-items-start py-5">
    <div class="container">

        <div class="card color-card shadow-lg" style="border-radius: 20px; border: none;">
            <div class="card-body p-4">

                <div class="text-center mb-4">
                    <h2 class="fw-bold title-text">Ventas</h2>
                    <p class="txt-signup">Lista de ventas registradas</p>
                </div>



                <div class="table-wrapper">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>ID del juego</th>
                                    <th>Nombre del juego</th>
                                    <th>ID del jugador</th>
                                    <th>Precio normal</th>
                                    <th>Precio vendido</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>

                            <tbody>
                               <tr *ngFor="let item of listaPro">
                                <th scope="row">{{item.ID_Juego}}</th>
                                <td>{{item.NombreJuego}}</td>
                                <td>{{item.ID_User}}</td>
                                <td>{{item.PrecioTotal}}</td>
                                <td>{{item.Descuento}}</td>
                                <td>{{item.Fecha}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
