<section class="vh-100 d-flex justify-content-center align-items-start py-5">
    <div class="container">

        <div class="card color-card shadow-lg" style="border-radius: 20px; border: none;">
            <div class="card-body p-4">

                <div class="text-center mb-4">
                    <h2 class="fw-bold title-text">Reportes</h2>
                    <p class="txt-signup">Lista de tickets</p>
                </div>

                <div class="mb-4 text-start">
                  <form [formGroup]="formGroup" (ngSubmit)="OnSubmit()">
                    <select (change)="OnSubmit()" name="_tema" id="_tema" formControlName="_tema" class="form-control input-rounded select-reportes">
                        <option *ngFor="let item of selectReporte" value="{{item}}">{{item}}</option>
                    </select>
                  </form>
                </div>

                <div class="table-wrapper">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>ID_ticket</th>
                                    <th>Correo</th>
                                    <th>Tema</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of listaReportes">
                                <th scope="row">{{item.ID_Ticket}}</th>
                                <td>{{item.Correo}}</td>
                                <td>{{item.Tema}}</td>
                                <td>{{item.Descripcion}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
