<section class="vh-100 d-flex justify-content-center align-items-start py-5">
    <div class="container">

        <div class="card color-card shadow-lg" style="border-radius: 20px; border: none;">
            <div class="card-body p-4">

                <div class="text-center mb-4">
                    <h2 class="fw-bold title-text">Reportes</h2>
                    <p class="txt-signup">Lista de tickets</p>
                </div>

                <div class="mb-4 text-start">
                    <select class="form-control input-rounded select-reportes">
                        <option value="">Opciones</option>
                        <option value="">Bugs de juegos</option>
                        <option value="">Fallo en la página</option>
                        <option value="">Problemas con mi perfil</option>
                        <option value="">Problemas con un usuario</option>
                        <option value="">Error al comprar</option>
                        <option value="">Otros</option>
                    </select>
                </div>

                <div class="table-wrapper">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>ID_ticket</th>
                                    <th>Correo</th>
                                    <th>Tema</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
