section {
    background-color: #212126;
}

.title-text {
    color: #1c1b1f;
    font-weight: 800;
    font-size: 28px;
}

.subtitle-text {
    color: #1c1b1f;
    font-size: 16px;
}

.txt-signup {
    font-size: 15px;
    color: #6d6d6d;
}

.color-card {
    background-color: #ffffff;
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.select-reportes {
    max-width: 250px;
    display: inline-block;
}

.table-wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.table thead th {
    font-weight: 700;
    color: #1c1b1f;
}

.table tbody td {
    color: #322d3a;
}

.input-rounded {
    border-radius: 10px;
}


.select-reportes{
    background: linear-gradient(90deg, #7a5af5, #9d8df1);
    border: none;
    border-radius: 12px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.select-reportes:hover {
    box-shadow: 0 0px 15px #ddcbff;
    transform: scale(1.02);
    color: white;
}

.select-reportes option {
    color: #1c1b1f;
    background-color: white;
}
