section{
    background-color: #212126;
}

.color-card {
    background-color: #ffffff;
    border-radius: 20px;
}

.title-text {
    color: #1c1b1f;
    font-weight: 800;
    font-size: 26px;
}

.subtitle-text {
    color: #1c1b1f;
    font-size: 16px;
}

.txt-signup{
    font-size: 15px;
    color: #322d3a;
}

.otp-container input {
    margin: 0 6px;
}

.otp-box {
    width: 48px;
    height: 52px;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    border: 1px solid #eaeaea;
    background: #ffffff;
    transition: 0.2s;
}

.otp-box:focus {
    border-color: #5170FF;
    box-shadow: 0 0 10px rgba(81, 112, 255, 0.4);
    outline: none;
}

.btn-principal{
  background: linear-gradient(90deg, #5170FF 0%, #FF66C4 100%);
  border: none;
  border-radius: 25px;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-principal:hover {
  box-shadow: 0 0px 15px #ddcbff;
  transform: scale(1.02);
  color: white;
}

a{
    color: #891cff;
    text-decoration: none;
}
