<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-5">

                <div class="card color-card shadow-lg" style="border-radius: 1.2rem; border: none;">
                    <div class="card-body p-5 text-black">

                        <form>
                            <div class="text-center mb-3">
                                <span class="h2 fw-bold title-text">Ingrese el código de verificación</span>
                            </div>

                            <p class="fw-normal txt-signup text-center mb-4">Enviamos un código de verificación al correo ejemplo$gmail.com para saber que eres tú.</p>

                            <p class="fw-bold text-center mb-3 subtitle-text">Ingresa el código</p>

                            <div class="d-flex justify-content-center mb-4 otp-container">
                                <input maxlength="1" class="otp-box" type="text" placeholder="-">
                                <input maxlength="1" class="otp-box" type="text" placeholder="-">
                                <input maxlength="1" class="otp-box" type="text" placeholder="-">
                                <input maxlength="1" class="otp-box" type="text" placeholder="-">
                                <input maxlength="1" class="otp-box" type="text" placeholder="-">
                                <input maxlength="1" class="otp-box" type="text" placeholder="-">
                            </div>

                            <div class="text-center mb-3">
                                <button class="btn text-white btn-principal w-100 py-2" type="button">Verificar</button>
                            </div>

                            <p class="fw-normal text-center txt-signup" style="font-size: 14px;">¿No recibiste el código? <a href="#">Reenviar</a></p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
