<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">

                <div class="card color-card shadow-sm" style="border-radius: 1rem; height: 480px; border: none;">
                    <div class="row g-0 h-100">
                        <div class="col-12 d-flex align-items-center">
                            <div class="card-body p-5 text-black">

                                <form>
                                    <div class="text-center mb-3">
                                        <span class="h2 fw-bold" style="color: #1c1b1f;">Recupera tu cuenta</span>
                                    </div>

                                    <p class="fw-normal mb-4 mt-3 txt-signup text-center" style="font-size: 16px;">Ingresa tu correo y la última contraseña que recuerdes haber utlizado en tu cuenta.</p>

                                    <div class="mb-4">
                                        <label class="form-label fw-bold" style="font-size: 14px;">Correo electrónico</label>
                                        <input type="text" class="form-control form-control-sm input-rounded" placeholder="Correo electrónico"/>
                                    </div>

                                    <div class="mb-4">
                                        <label class="form-label fw-bold" style="font-size: 14px;">Contraseña</label>
                                        <input type="password" class="form-control form-control-sm input-rounded" placeholder="Contraseña"/>
                                    </div>

                                    <div class="text-center mb-3">
                                        <button class="btn text-white btn-principal px-5 py-2" type="button">Siguiente</button>
                                    </div>

                                    <p class="fw-normal mb-0 txt-signup text-center" style="font-size: 14px;">¿Recordaste tus datos? <a href="#">Inicia sesión</a></p>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
